body {
  height: 100vh;
  margin: 0 auto;
  color: #ffffff;
  background-color: #121212;
  overflow: hidden;
}

.mini-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fce762;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #121212;
  z-index: 1000;
}
.mini-header__content {
  padding: 4px;
  font-size: 14px;
  animation: fadeInOut 2s ease-in-out infinite;
}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  perspective: 1px;
  transform-style: preserve-3d;
}

.navigation {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
  font-size: 26px;
  background-color: #121212;
}
.navigation__li {
  margin-left: 32px;
  margin-bottom: 10px;
  list-style: none;
  font-family: "Rubik", sans-serif;
}
.navigation__item {
  text-decoration: none;
  color: #ffffff;
}
.navigation__item:hover {
  color: #fce762;
}
.navigation__item:focus {
  color: #fce762;
}
.navigation__item:active {
  color: #fce762;
}

.hero {
  position: relative;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  scroll-snap-align: start;
}
.hero__logo {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  font-family: "Titillium Web", sans-serif;
  color: #fce762;
}
.hero__content {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
}
.hero__left {
  margin-top: 14%;
  margin-right: 120px;
}
.hero__freepik {
  display: block;
  font-family: "Open Sans", sans-serif;
  text-align: end;
  color: rgba(255, 255, 255, 0.5019607843);
  text-decoration: none;
}
.hero__blue {
  color: rgba(46, 112, 255, 0.8235294118);
}
.hero__name {
  font-size: 60px;
  font-family: "Rubik", sans-serif;
  color: #fce762;
}
.hero__line {
  height: 1px;
  width: 320px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fce762;
}
.hero__profession {
  font-size: 34px;
  font-family: "Rubik", sans-serif;
  color: #d0d0d0;
}
.hero__more {
  position: absolute;
  bottom: 62px;
  left: 38%;
  transform: translateX(-50%);
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
  animation: mover 0.5s infinite alternate;
}
.hero__moreS {
  text-decoration: none;
  color: #fce762;
  position: relative;
}
.hero__moreS:hover {
  color: #ffffff;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}
.line {
  height: 1px;
  width: 100%;
  background-color: #fce762;
}

.aboutme {
  position: relative;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  scroll-snap-align: start;
}
.aboutme__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.aboutme__first {
  display: flex;
  justify-content: space-between;
  gap: 93px;
  align-items: center;
}
.aboutme__leftF {
  width: 35%;
}
.aboutme__img {
  width: 100%;
  border: 2px solid #fce762;
  border-radius: 100%;
}
.aboutme__right {
  width: 65%;
}
.aboutme__title {
  margin-bottom: 23px;
  font-size: 38px;
  font-family: "Rubik", sans-serif;
  color: #fce762;
}
.aboutme__bio {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.aboutme__underline {
  border-bottom: 1px solid #fce762;
}
.aboutme__second {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 30px;
}
.aboutme__leftS {
  width: 50%;
}
.aboutme__itemEducation {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.aboutme__right {
  width: 50%;
}
.aboutme__itemExperience {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}
.aboutme__B {
  color: #ffffff;
  text-decoration: none;
}
.aboutme__B:hover {
  color: #d0d0d0;
}
.aboutme__skills {
  display: flex;
  justify-content: space-between;
  gap: 16%;
  align-items: center;
  text-align: center;
}
.aboutme__image {
  width: 140px;
  height: auto;
  margin-bottom: 10px;
}
.aboutme__s {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
.aboutme__s::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fce762;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.aboutme__s:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.projects {
  position: relative;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  scroll-snap-align: start;
}
.projects__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
.projects__title {
  display: block;
  width: 100%;
  font-size: 38px;
  font-family: "Rubik", sans-serif;
  color: #fce762;
}
.projects__a {
  width: 45%;
}
.projects__aW {
  width: 45%;
}
.projects__aW:hover {
  display: none;
}
.projects__aW:hover + .projects__aWP {
  display: block;
}
.projects__aSH {
  width: 45%;
}
.projects__aSH:hover {
  display: none;
}
.projects__aSH:hover + .projects__aSHW {
  display: block;
}
.projects__aSHW {
  width: 45%;
  display: none;
}
.projects__aWP {
  width: 45%;
  display: none;
}
.projects__img:hover {
  background-color: rgba(255, 255, 255, 0.062745098);
}
.projects__img {
  width: 100%;
  cursor: pointer;
}

.contact {
  position: relative;
  height: 100vh;
  width: 1200px;
  margin: 0 auto;
  scroll-snap-align: start;
}
.contact__content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.contact__title {
  margin-bottom: 104px;
  font-size: 38px;
  font-family: "Rubik", sans-serif;
  color: #fce762;
}
.contact__title1 {
  margin-bottom: 23px;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  color: #fce762;
}
.contact__dis {
  display: flex;
  justify-content: space-between;
}
.contact__email {
  text-decoration: none;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  border-bottom: 1px solid #fce762;
}
.contact__email:hover {
  color: #d0d0d0;
}
.contact__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.contact__social {
  font-size: 40px;
  color: #fce762;
}
.contact__social:hover {
  color: #ffffff;
}
.contact__storyset {
  position: absolute;
  right: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: rgba(252, 231, 98, 0.5019607843);
}
.contact__storyset:hover {
  color: #d0d0d0;
}

@media (max-width: 440px) {
  .navigation {
    display: none;
  }
  .navMobile {
    display: block;
    position: sticky;
    top: 0%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 26px;
    background-color: #121212;
  }
  .menuToggle {
    display: block;
    position: absolute;
    top: 36px;
    left: 2%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .menuToggle a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .menuToggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fce762;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .menuToggle input:checked ~ ul {
    transform: none;
  }
  .menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #121212;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu .navigation_li {
    padding: 10px 0;
    font-size: 22px;
    color: #ffffff;
  }
  .hero {
    width: 300px;
    text-align: center;
  }
  .hero__content {
    flex-wrap: wrap;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero__name {
    width: 100%;
    font-size: 26px;
  }
  .hero__profession {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .hero__img {
    width: 65%;
  }
  .hero__right {
    margin: 0 auto;
  }
  .hero__freepik {
    text-align: center;
  }
  .hero__left {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .hero__more {
    left: 18%;
  }
  .hero__moreS {
    font-size: 18px;
  }
  .hero__logo {
    font-size: 18px;
  }
  .hero__line {
    width: 246px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .aboutme {
    width: 300px;
    margin: 0 auto;
  }
  .aboutme__img {
    width: 70%;
  }
  .aboutme__first {
    flex-wrap: wrap;
    gap: 1px;
  }
  .aboutme__leftF {
    width: 30%;
    padding-left: 0px;
    margin: 0 auto;
  }
  .aboutme__rightF {
    width: 100%;
  }
  .aboutme__title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .aboutme__bio {
    font-size: 14px;
  }
  .aboutme__second {
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  .aboutme__leftS {
    width: 100%;
  }
  .aboutme__right {
    width: 100%;
  }
  .aboutme__itemEducation {
    font-size: 14px;
  }
  .aboutme__itemExperience {
    font-size: 14px;
  }
  .aboutme__skills {
    gap: 0;
    align-items: normal;
  }
  .aboutme__s {
    font-size: 14px;
    width: 100%;
  }
  .projects {
    width: 300px;
  }
  .projects__title {
    font-size: 18px;
  }
  .projects__a {
    width: 80%;
  }
  .projects__aWp, .projects__aSH, .projects__aSHW, .projects__aW {
    width: 80%;
  }
  .projects__content {
    justify-content: center;
    gap: 10px;
  }
  .contact {
    width: 300px;
  }
  .contact__title {
    font-size: 18px;
  }
  .contact__dis {
    flex-wrap: wrap;
    gap: 30px;
  }
  .contact__title1 {
    font-size: 18px;
  }
  .contact__email {
    font-size: 14px;
  }
  .contact__social {
    font-size: 14px;
  }
}
@media (min-width: 441px) and (max-width: 650px) {
  .navigation {
    display: none;
  }
  .navMobile {
    display: block;
    position: sticky;
    top: 0%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 26px;
    background-color: #121212;
  }
  .menuToggle {
    display: block;
    position: absolute;
    top: 36px;
    left: 2%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .menuToggle a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .menuToggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fce762;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .menuToggle input:checked ~ ul {
    transform: none;
  }
  .menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #121212;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu .navigation_li {
    padding: 10px 0;
    font-size: 22px;
    color: #ffffff;
  }
  .hero {
    width: 400px;
    text-align: center;
  }
  .hero__content {
    flex-wrap: wrap;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero__name {
    width: 100%;
    font-size: 30px;
  }
  .hero__profession {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .hero__freepik {
    text-align: center;
  }
  .hero__img {
    width: 65%;
  }
  .hero__right {
    margin: 0 auto;
  }
  .hero__left {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .hero__more {
    left: 20%;
  }
  .hero__moreS {
    font-size: 20px;
  }
  .hero__logo {
    font-size: 20px;
  }
  .hero__line {
    width: 246px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .aboutme {
    width: 400px;
  }
  .aboutme__img {
    width: 100%;
  }
  .aboutme__leftF {
    width: 30%;
    padding-left: 40px;
  }
  .aboutme__rightF {
    width: 83%;
  }
  .aboutme__title {
    font-size: 20px;
  }
  .aboutme__bio {
    font-size: 15px;
  }
  .aboutme__second {
    margin-top: 30px;
  }
  .aboutme__itemEducation {
    font-size: 15px;
  }
  .aboutme__itemExperience {
    font-size: 15px;
  }
  .aboutme__skills {
    gap: 0;
    align-items: normal;
  }
  .aboutme__s {
    font-size: 15px;
    width: 100%;
  }
  .projects {
    width: 400px;
  }
  .projects__title {
    font-size: 18px;
  }
  .projects__content {
    justify-content: center;
    gap: 45px;
  }
  .contact {
    width: 400px;
  }
  .contact__title {
    font-size: 18px;
  }
  .contact__title1 {
    font-size: 18px;
  }
  .contact__email {
    font-size: 16px;
  }
  .contact__social {
    font-size: 18px;
  }
}
@media (min-width: 651px) and (max-width: 840px) {
  .navigation {
    display: none;
  }
  .navMobile {
    display: block;
    position: sticky;
    top: 0%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 26px;
    background-color: #121212;
  }
  .menuToggle {
    display: block;
    position: absolute;
    top: 36px;
    left: 2%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .menuToggle a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .menuToggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fce762;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .menuToggle input:checked ~ ul {
    transform: none;
  }
  .menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #121212;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu .navigation_li {
    padding: 10px 0;
    font-size: 22px;
    color: #ffffff;
  }
  .hero {
    width: 600px;
  }
  .hero__name {
    font-size: 30px;
  }
  .hero__profession {
    font-size: 18px;
  }
  .hero__img {
    width: 94%;
  }
  .hero__left {
    width: 50%;
    margin-top: 8%;
    margin-right: 0;
    margin-left: 40px;
  }
  .hero__right {
    width: 50%;
  }
  .hero__more {
    left: 31%;
  }
  .hero__moreS {
    font-size: 20px;
  }
  .hero__logo {
    font-size: 20px;
  }
  .hero__line {
    width: 246px;
  }
  .aboutme {
    width: 600px;
  }
  .aboutme__img {
    width: 80%;
  }
  .aboutme__title {
    font-size: 20px;
  }
  .aboutme__bio {
    font-size: 16px;
  }
  .aboutme__second {
    margin-top: 30px;
  }
  .aboutme__itemEducation {
    font-size: 16px;
  }
  .aboutme__itemExperience {
    font-size: 16px;
  }
  .aboutme__skills {
    gap: 0;
  }
  .aboutme__s {
    font-size: 16px;
    width: 100%;
  }
  .projects {
    width: 600px;
  }
  .projects__title {
    font-size: 20px;
  }
  .projects__content {
    gap: 60px;
  }
  .contact {
    width: 600px;
  }
  .contact__title {
    font-size: 20px;
  }
  .contact__title1 {
    font-size: 20px;
  }
  .contact__email {
    font-size: 18px;
  }
  .contact__social {
    font-size: 20px;
  }
}
@media (min-width: 841px) and (max-width: 1024px) {
  .navMobile {
    display: block;
    position: sticky;
    top: 0%;
    transform: translateY(-50%);
    text-align: left;
    font-size: 26px;
    background-color: #121212;
  }
  .menuToggle {
    display: block;
    position: absolute;
    top: 36px;
    left: 2%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  .menuToggle a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .menuToggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fce762;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
  }
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  .menuToggle input:checked ~ ul {
    transform: none;
  }
  .menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #121212;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu .navigation_li {
    padding: 10px 0;
    font-size: 22px;
    color: #ffffff;
  }
  .navigation {
    display: none;
  }
  .hero {
    width: 800px;
  }
  .hero__name {
    font-size: 40px;
  }
  .hero__profession {
    font-size: 28px;
  }
  .hero__img {
    width: 90%;
  }
  .hero__left {
    width: 50%;
    margin-top: 10%;
    margin-right: 0;
    margin-left: 40px;
  }
  .hero__right {
    width: 50%;
  }
  .hero__moreS {
    font-size: 20px;
  }
  .hero__logo {
    font-size: 20px;
  }
  .aboutme {
    width: 800px;
  }
  .aboutme__img {
    width: 90%;
  }
  .aboutme__title {
    font-size: 30px;
  }
  .aboutme__bio {
    font-size: 20px;
  }
  .aboutme__second {
    margin-top: 30px;
  }
  .aboutme__itemEducation {
    font-size: 20px;
  }
  .aboutme__itemExperience {
    font-size: 20px;
  }
  .aboutme__skills {
    gap: 10%;
  }
  .aboutme__s {
    font-size: 16px;
  }
  .projects {
    width: 800px;
  }
  .projects__title {
    font-size: 30px;
  }
  .projects__content {
    gap: 80px;
  }
  .contact {
    width: 800px;
  }
  .contact__title {
    font-size: 30px;
  }
  .contact__title1 {
    font-size: 26px;
  }
  .contact__email {
    font-size: 24px;
  }
  .contact__social {
    font-size: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .navigation {
    font-size: 20px;
  }
  .navigation__li {
    margin-left: 0px;
  }
  .navigation__ul {
    padding: 0;
    padding-left: 20px;
  }
  .hero {
    width: 800px;
  }
  .hero__name {
    font-size: 40px;
  }
  .hero__profession {
    font-size: 28px;
  }
  .hero__img {
    width: 90%;
  }
  .hero__left {
    width: 50%;
    margin-top: 10%;
    margin-right: 0;
    margin-left: 40px;
  }
  .hero__right {
    width: 50%;
  }
  .hero__moreS {
    font-size: 20px;
  }
  .hero__logo {
    font-size: 20px;
  }
  .aboutme {
    width: 800px;
  }
  .aboutme__img {
    width: 90%;
  }
  .aboutme__title {
    font-size: 30px;
  }
  .aboutme__bio {
    font-size: 20px;
  }
  .aboutme__second {
    margin-top: 30px;
  }
  .aboutme__itemEducation {
    font-size: 20px;
  }
  .aboutme__itemExperience {
    font-size: 20px;
  }
  .aboutme__skills {
    gap: 10%;
  }
  .aboutme__s {
    font-size: 16px;
  }
  .aboutme__leftS {
    width: 45%;
  }
  .projects {
    width: 800px;
  }
  .projects__title {
    font-size: 30px;
  }
  .projects__content {
    gap: 80px;
  }
  .contact {
    width: 800px;
  }
  .contact__title {
    font-size: 30px;
  }
  .contact__title1 {
    font-size: 26px;
  }
  .contact__email {
    font-size: 24px;
  }
  .contact__social {
    font-size: 30px;
  }
}
@media (min-width: 1601px) and (max-width: 1919px) {
  .navigation {
    font-size: 26px;
  }
  .navigation__li {
    margin-left: 10px;
  }
}/*# sourceMappingURL=style.css.map */